
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" th:href="@{/wxadmin/js/easyui/themes/gray/easyui.css}"/>
    <link rel="stylesheet" th:href="@{/wxadmin/js/easyui/themes/icon.css}"/>
    <script th:src="@{/wxadmin/js/easyui/jquery.min.js}" charset="utf-8"></script>
    <script th:src="@{/wxadmin/js/easyui/jquery.easyui.min.js}" charset="utf-8"></script>
    <script th:src="@{/wxadmin/js/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <script th:src="@{/wxadmin/js/plupload-2.3.6/js/plupload.full.min.js}"></script>
    <script th:src="@{/wxadmin/js/jquery.form.js}"></script>
    <script th:src="@{/wxadmin/js/extJquery.js}"></script>
    <script th:src="@{/wxadmin/js/My97DatePicker/WdatePicker.js}"></script>
    <script th:src="@{/wxadmin/js/jquery.validate.min.js}"></script>
    <script th:src="@{/wxadmin/js/messages_cn.js}"></script>

    <title>${comments}</title>
</head>

<style>
    .dis{
        display: none;
    }
    input[readonly]{
        background-color: #efefef;
    }
    .error{
        color: red;
    }
</style>

<body class="easyui-layout">
<!-------------------------------------------数据表格----------------------------------------------->
<table id="sgGroupBuyActivitiesDatagrid"></table>
<!-------------------------------------------头部按钮----------------------------------------------->
<div id="sgGroupBuyActivitiesToolbar">
    <form id="searchForm">
        <table style="padding:5px;">
            <!--此处仅演示一种查询条件 -->
            <tr>
                <td>key：</td>
                <td >
                    <input type="text" class="txt" id="key" name="key" data-options="required:true" style="width:156px;"/>
                </td>
            </tr>
        </table>
        <a class="easyui-linkbutton"  style="color: #0E2D5F"  onclick="doSearch()">确认搜索</a>
    </form>
    <div style="padding:5px;">
        <a id="add-btn" href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" >添加</a>
        <a id="edit-btn" href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" >编辑</a>
        <a id="remove-btn" href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" >删除</a>
    </div>
</div>
<!-------------------------------------------添加修改弹出框------------------------------------------>
<div>
    <div id="add_or_edit_id" class="easyui-dialog popBox" title="编辑信息"
         style="width:550px;height:400px;" data-options="iconCls:'icon-edit',resizable:true,closable:false,closed:true,cache: false,modal: true"
         buttons="#dlg-buttons">

        <form id="add_or_edit_form_id"  method="post" style="margin: 14px;">
            <input type="hidden" id="id" name="id"/>
            <table style="border:0px solid;border-collapse: collapse">
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
                <tr  style="border-top: 20px">
                    <td>${column.comments}：</td>
                    <td>
                        <input   type="text"  id="${column.attrname}" name="${column.attrname}"  style="width:300px;"/>
                    </td>
                <tr>
#end
#end

                <tr >
                    <td>上传图片：</td>
                    <td>
                        <img id="hImg-imageUrl" style="width:50px;height:50px;"/>
                        <a id="hImgmageUrl" class="easyui-linkbutton filePicker" data-options="iconCls:'icon-add'"
                           img="hImg-imageUrl"  input="input-hImgeUrl">选择图片</a>
                        <span style="color:#7b7979;" >图片请使用 png 或 jpg 格式，建议尺寸 400*400, 小于200k</span>
                        <input id = "input-hImgeUrl" name="avatarUrl"   type="hidden"/>
                    </td>
                <tr>

            </table>
        </form>
    </div>

    <div id="dlg-buttons" style="text-align:center">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#add_or_edit_id').dialog('close')">取消</a>
    </div>

    <div id="bannerDialog"></div>
    <!-- 上传设置-->
    <div style="display:none">
        <form id="importForm" action="upload.json" method="post" enctype="multipart/form-data">
            <input type="file" id="impExcel" name="excelFile" accept="application/vnd.ms-excel"/>
        </form>
    </div>

</div>
<script th:src="@{/wxadmin/js/groupbuy/common.js}"></script>
<script th:src="@{/wxadmin/js/${moduleName}/${classname}.js}"></script>

</body>
</html>

