
$(function () {
    $("#jqGrid").Grid({
        url: '/${moduleName}/${classname}/getList.json',
        colModel: [
#foreach($column in $columns)
    #if($column.columnName == $pk.columnName)
            { label: '${column.attrname}', name: '${column.attrname}', index: '${column.columnName}', width: 50, key: true },
    #else
            { label: '${column.comments}', name: '${column.attrname}', index: '${column.columnName}', width: 80 }#if($velocityCount != $columns.size()), #end
    #end
#end
        ]
    });
});

var vm = new Vue({
    el: '#rrapp',
    data: {
        showList: true,
        title: null,
        ${classname}: {},
        ruleValidate: {
             name: [
                 {required: true, message: '名称不能为空', trigger: 'blur'}
             ],
         },
        q: {
            name: ''
        },
        ${classname}s: []
    },
    methods: {
        query: function () {
            vm.reload();
        },
        add: function () {
            vm.showList = false;
            vm.title = "新增";
            vm.${classname} = {};
            vm.${classname}s = [];
         },
        update: function (event) {
            var id = getSelectedRow("#jqGrid");
            if (id == null) {
                return;
            }
            vm.showList = false;
            vm.title = "修改";

            vm.getInfo(id);
         },
        saveOrUpdate: function (event) {
            var url = vm.${classname}.id == null ? "/${moduleName}/${classname}/save.json" :
                "/${moduleName}/${classname}/update.json";

            Ajax.request({
                type: "POST",
                url: url,
                contentType: "application/json",
                params: JSON.stringify(vm.${classname}),
                successCallback: function () {
                    alert('操作成功', function (index) {
                        vm.reload();
                    });
                }
            });
        },
        del: function (event) {
            var ids = getSelectedRows("#jqGrid");
            if (ids == null) {
                return;
            }

            confirm('确定要删除选中的记录？', function () {

                Ajax.request({
                    type: "POST",
                    url: "/${moduleName}/${classname}/remove.json?id=" + id[0].id,
                    successCallback: function () {
                        alert('操作成功', function (index) {
                            vm.reload();
                        });
                    }
                });
            });
        },
        getInfo: function (id) {
            Ajax.request({
                url: "/${moduleName}/${classname}/info.json?id=" + id[0].id,
                async: true,
                successCallback: function (r) {
                    vm.${classname} = r.data;
                }
            });
        },
        reload: function (event) {
            vm.showList = true;
            $("#jqGrid").jqGrid('setGridParam', {
                postData: {'name': vm.q.name},
                page: 1
            }).trigger("reloadGrid");
            vm.handleReset('formValidate');
        },

        handleSubmit: function (name) {
            handleSubmitValidate(this, name, function () {
                vm.saveOrUpdate()
            });
        },
        handleReset: function (name) {
            handleResetForm(this, name);
        },

    }
});




