package ${package}.service#if($moduleName != "").${moduleName}#end;

import ${package}.entity#if($moduleName != "").${moduleName}#end.${className}Entity;

import com.tbk.common.PagerInfo;
import com.tbk.common.ServiceResult;
import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {
    /**
     * 查询
     */
    public ServiceResult<${className}Entity> queryObject(${pk.attrType} ${pk.attrname});
    /**
	 * 查询分页
	 */
    public ServiceResult<List<${className}Entity>> queryList(PagerInfo pagerInfo,Map<String, Object> map);
    /**
	 * 添加
	 */
	public ServiceResult<Integer> save(${className}Entity ${classname});
    /**
	 * 修改
	 */
	public ServiceResult<Integer> update(${className}Entity ${classname});

}
